.vscode
.cache
@types
node_modules
src
sql
tests
temp

Dockerfile
.dockerignore
npm-debug.log
*.env
.eslintrc.js
.prettierrc
deploy.bat
nest-cli.json
tsconfig.build.json
tsconfig.json
