h1,h2,h3,h4,h5,h6,a,p{
   padding: 0;
   margin: 0;
}
h1,h2,h3,h4,h5,h6{
   font-weight: 600;
}
$sizes: ("h1": calc(35pt + 0.5vw), "h2": calc(30pt + 0.5vw), "h3": calc(25pt + 0.5vw), "h4": calc(20pt + 0.5vw), "h5": calc(15pt + 0.5vw), "h6": calc(10pt + 0.5vw), "p": calc(6pt + 0.5vw));

@each $element, $size in $sizes {
   #{$element} {
      font-size: $size;
   }
}
a{
   text-decoration: none;
   color: royalblue;
   cursor: pointer;
}
.text-center{
   @include text-center();
}

// Page title is big text at top of page
.page-title{
   font-size: calc(25pt + 0.5vw);
}