$primary: #000000;
$light-gray: #bcbcbc;
$gray: #acacac;
$dark-gray: #606060;
$white: #ffffff;
$gradient-shade1: #c471f5; 
$gradient-shade2: #fa71cd; 

$gradient: linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
$gradient-1: linear-gradient(135deg, #E100FF 0%, #7F00FF 100%);
$safe-area: 80%;

$x-small: 2px;
$small: 5px;
$medium: 10px;
$large: 15px;
$x-large: 20px;

$thin: 400;
$regular: 600;
$bold: 800;
$black: 900;

$regular-padding: 8px 50px;
$small-padding: 8px 25px;