<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="http://localhost:8000/css/master.css" />
   <link rel="stylesheet" href="http://localhost:8000/css/default_vars.css" />
   <link rel="stylesheet" href="http://localhost:8000/css/default.css" />
   <script src="http://localhost:8000/js/icons.js"></script>
   <script src="http://localhost:8000/js/page.js" type="module" onload="init()"></script>
   <title>im1</title>
</head>

<body class="page__body">
   <page-root>
      {{{ body }}}
   </page-root>
</body>
<script>
   function init() {
      store.use(icons);
   }
</script>

</html>