<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/_/static/page/css/master.css" />
   <link rel="stylesheet" href="/_/static/page/css/default_vars.css" />
   <link rel="stylesheet" href="/_/static/page/css/default.css" />
   <script src="/_/static/page/js/icons.js"></script>
   <script src="/_/static/page/js/page.js" type="module" onload="init()"></script>
   {{#if page.title }}
      <title>{{ page.title }}</title>
   {{else}}
      <title>iamone</title>
   {{/if}}
</head>

<body class="page__body">
   <page-root>
      {{{ body }}}
   </page-root>
</body>
<script>
   function init() {
      store.use(icons);
   }
</script>

</html>