@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap");
*, html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: calc(35pt + 0.5vw);
}

h2 {
  font-size: calc(30pt + 0.5vw);
}

h3 {
  font-size: calc(25pt + 0.5vw);
}

h4 {
  font-size: calc(20pt + 0.5vw);
}

h5 {
  font-size: calc(15pt + 0.5vw);
}

h6 {
  font-size: calc(10pt + 0.5vw);
}

p {
  font-size: calc(6pt + 0.5vw);
}

a {
  text-decoration: none;
  color: royalblue;
  cursor: pointer;
}

.text-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page-title {
  font-size: calc(25pt + 0.5vw);
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #bcbcbc;
  background-color: #ffffff;
}

.header .navbar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.header .menu-item {
  margin: 0 20px;
  color: #606060;
}

.header .menu-item.active, .header .menu-item:hover {
  color: #000000;
}

.header .login {
  border: linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
  border-radius: 10px;
  background: linear-gradient(135deg, #c471f5 0%, #fa71cd 100%);
  padding: 8px 50px;
  color: #ffffff;
}

.tag-line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 400;
  padding-top: 150pt;
}

.create-your-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  margin-top: 50pt;
  border: 1px solid #c471f5;
  border-radius: 10px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-your-link .im-url, .create-your-link .username, .create-your-link .create-btn {
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.create-your-link .im-url {
  margin-left: 10px;
}

.create-your-link .username, .create-your-link .create-btn {
  border: none;
  outline: none;
}

.create-your-link .create-btn {
  background: linear-gradient(135deg, #E100FF 0%, #7F00FF 100%);
  border-radius: 10px;
  color: #ffffff;
  padding: 8px 25px;
}

.meet-the-features {
  margin-top: 150pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meet-the-features p {
  font-size: 16px;
}

.meet-the-features .get-started-btn {
  margin-left: auto;
  margin-right: auto;
}

.meet-the-features .get-started-btn img {
  margin-top: 10px;
  width: 18px;
}

.features {
  padding: 100pt 0;
}

.features .features-content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.features .features-content .feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50pt;
}

.features .features-content .feature .feature-img {
  width: 50%;
}

.features .features-content .feature .feature-text .feature-name {
  font-size: calc(20pt + 0.5vw);
}

.features .features-content .feature:nth-child(odd) .feature-text {
  margin-left: 50px;
}

.features .features-content .feature:nth-child(even) .feature-text {
  margin-right: 50px;
}

.faq {
  padding: 100pt 0;
}

.faq .faq-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.faq .faq-section .faq-item {
  padding: 5px 0;
}

.faq .faq-section .faq-item .que {
  color: #acacac;
  font-size: calc(8pt + 0.5vw);
  font-weight: 400;
  margin-bottom: 2px;
}

.faq .faq-section .faq-item .ans {
  color: #000000;
  font-size: calc(10pt + 0.5vw);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */