:root {
   --page-scroll-color: #555;
   --page-scroll-active-color: #888;

   --page-foreground: #FFF;
   --page-root-background: #333;

   --page-background: #222;

   --page-social-icon-color: #FFF;
   --page-link-border: 1px solid #333;
}
