:root {
   --page-scroll-color: #7c55fe;
   --page-scroll-active-color: #888;

   --page-foreground: #FFF;
   --page-background: #7c55fe;
   --page-background-image: url(https://cdn.bio.link/themes/backgrounds/saffron.png);

   --page-social-icon-color: #FFF;

   --page-link-background: #FFF;
   --page-link-foreground: #000;
   --page-link-border: 1px solid transparent;
}
