<style>
   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

   :root {
      --font-stack: 'Inter', sans-serif;
   }

   .template__content {
      margin-top: 50px;
   }
   .template__profile_image {
      background-image: url(https://randomuser.me/api/portraits/women/63.jpg); 
   }
   .template__primary_info {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .template__username {
      color: #555;
   }
   .template__bio {
      width: 70%;
      text-align: center;
   }

   .template__social-refs {
      display: flex;
      flex-direction: row;
      justify-content: center;
   }
</style>

<div class="template__content">
   <div class="template__profile_image"></div>
   <div class="template__primary_info">
      <h3 class="template__fullname">{{ user.fullname }}</h3>
      <h6 class="template__username">@{{ user.username }}</h6>

      <p class="template__bio">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
   </div>

   <nav class="template__social-refs">
      {{#each social}}
         <a href="{{ this.link }}" target="_blank"><img src="/_/static/assets/social-icons/{{ this.socialServiceKey }}.svg" width="35" height="35" alt=""></a>
      {{/each}}
   </nav>
</div>
